<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>Panel de control</TITLE>

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/control_panel.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</HEAD>

<BODY>
    <header>
        <div class="fav_header">
            <div class="container">
                <div id="fav_logo">
                    <a class="defaultLogo" href="https://www.us.es" target="_blank" title="Universidad de Sevilla">
                        <img src="{{ url_for('static', filename='logo_us.png') }}" alt="Logo de la universidad">
                    </a>
                    <a class="mediaLogo" href="https://www.informatica.us.es/" title="ETSII">
                        <img src="{{ url_for('static', filename='logo_etsii.png') }}" alt="Logo de la facultad">
                    </a>
                </div>
                <div class="manejo_sesion">
                    <div id="usuario_header">
                        <a>@{{ current_user.username }}</a>
                    </div>
                    <a class="btn btn-danger" id="cerrar-sesion" href="{{ url_for('login_blueprint.logout') }}">Cerrar sesión</a>
                    <a class="btn btn-warning" href="{{ url_for('users_edit_blueprint.index') }}">Editar Usuarios</a>
                </div>
            </div>
        </div>        

    </header>


    <div class="contenedor-alertas-sensores">

        <div class="sensor">
            <div id="contenedor-tabla">
                <table id="tabla-maquinas">
                    <!-- Contenido de la tabla aquí -->
                </table>
            </div>
            <div id="detalles-maquina" style="display: none;">
                <div id="contenedor-detalles">
                    <!-- Detalles de la máquina aquí -->
                </div>
                <button id="cerrar-detalles">Cerrar</button>

            </div>
        </div>

        <div class="contenedor-listado-alertas">
            <h2>Alertas emitidas:</h2>
            <div id="lista-alertas">
                <!-- Contenido de la lista aquí -->
            </div>
        </div>

        

    </div>

    <footer>
        <div class="footer-content">
            <p>Escuela Técnica Superior de Ingeniería Informática - Universidad de Sevilla</p>
            <p>Av. Reina Mercedes s/n, 41012 Sevilla - tlfno +(34) 954556817</p>
            <p>&copy; 2024 <a href="https://www.us.es"> ETSII</a> </p>
        </div>

    </footer>

    <script src="{{ url_for('static', filename='javascript/control_panel.js') }}"></script>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</BODY>

</HTML>