<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>Información de las máquinas</TITLE>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</HEAD>

<BODY>
    <header>
        <div class="fav_header">
            <div class="container">
                <div id="fav_logo">
                    <a class="defaultLogo" href="https://www.us.es" target="_blank" title="Universidad de Sevilla">
                        <img src="{{ url_for('static', filename='logo_us.png') }}" alt="Logo de la universidad">
                    </a>
                    <a class="mediaLogo" href="https://www.informatica.us.es/" title="ETSII">
                        <img src="{{ url_for('static', filename='logo_etsii.png') }}" alt="Logo de la facultad">
                    </a>
                </div>
                <div class="manejo_sesion">
                    <div id="usuario_header">
                        <a>@{{ current_user.username }}</a>
                    </div>
                    <a class="btn btn-danger" id="cerrar-sesion" href="{{ url_for('login_blueprint.logout') }}">Cerrar
                        sesión</a>
                    <a class="btn btn-primary" href="{{ url_for('control_panel_blueprint.index') }}">Panel de
                        control</a>
                </div>
            </div>
        </div>

    </header>



    <h1>Temperatura y humedad en {{machine_name}}</h1>
    <div class="charts-container">
        <canvas id="temperatureChart"></canvas>
        <canvas id="humidityChart"></canvas>
    </div>

    <div id="chart-data" data-labels='{{ labels | tojson | safe }}'
        data-temperatures='{{ temperatures | tojson | safe }}' data-humidities='{{ humidities | tojson | safe }}'>
    </div>

    <footer>
        <div class="footer-content">
            <p>Escuela Técnica Superior de Ingeniería Informática - Universidad de Sevilla</p>
            <p>Av. Reina Mercedes s/n, 41012 Sevilla - tlfno +(34) 954556817</p>
            <p>&copy; 2024 <a href="https://www.us.es"> ETSII</a> </p>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>

    <script src="{{ url_for('static', filename='javascript/graph.js') }}"></script>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</BODY>

</HTML>