<!DOCTYPE html>
<HTML>

    <HEAD>
        <TITLE>Alertas para máquinas</TITLE>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mail.css') }}">
    </HEAD>

    <BODY>
        <header>
            <div class="fav_header">
                <div id ="fav_logo">
                    <a class="defaultLogo" href="https://www.us.es" target="_blank" title="Universidad de Sevilla">
                        <img src="{{ url_for('static', filename='logo_us.png') }}" alt="Logo de la universidad">
                    </a>
                    <a class="mediaLogo" href="https://www.informatica.us.es/" title="ETSII">
                        <img src="{{ url_for('static', filename='logo_etsii.png') }}" alt="Logo de la facultad">
                    </a>                    
                </div>                
            </div>

        </header>

        <div class="contenedor-formulario-alerta">
            <h2>Ingrese los siguientes datos:</h2>
            <form id="formulario-alerta" action="/submit_form" method="post">
                <label for="nombre">Nombre de la alarma:</label><br>
                <input type="text" id="nombre" name="nombre" required><br><br>
    
                <label for="correo">Correo electrónico:</label><br>
                <input type="email" id="correo" name="correo" placeholder="correocorporativo@corporativo.es" ><br><br>
    
                <label for="temperatura">Temperatura (en °C):</label><br>
                <input type="number" id="temperatura" name="temperatura" step="0.1" required><br><br>
    
                <label for="humedad">Humedad (en %):</label><br>
                <input type="number" id="humedad" name="humedad" min="0" max="100" required><br><br>
    
                <button type="submit" id="boton-guardar">Guardar</button>                    
            </form>
            <form action="{{ url_for('index_blueprint.index') }}" method="get">
                <button type="submit" id="boton-cancelar" >Cancelar</button>
            </form>
        </div>
        
       
        

        <footer>
            <div class="fav_footerwrap">

            </div>
            <p>&copy; 2024 <a href="https://www.us.es"> ETSII</a>   </p>
        </footer>

    </BODY>

  </HTML>