body {
    font-family: Arial, sans-serif;
}


.fav_header {
    background-color: #f8f9fa; /* Fondo suave para un look más profesional */
    border-bottom: 1px solid #ccc;
    padding: 10px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.fav_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#fav_logo {
    display: flex;
    align-items: center;
}

#fav_logo a {
    margin-right: 20px;
}

#fav_logo img {
    height: 50px; /* Tamaño uniforme para ambos logos */
}

.manejo_sesion {
    display: flex;
    align-items: center;
}

#usuario_header {
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}

#usuario_header a {
    text-decoration: none;
    color: #333;
}

#cerrar-sesion {
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Ajuste para el ancho completo */
    background-color: #f2f2f2; /* Fondo más suave */
    padding: 20px 0; /* Espaciado interior */
    text-align: center; /* Texto centrado */
    border-top: 1px solid #ddd; /* Borde superior sutil */
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    font-family: Arial, sans-serif; /* Fuente legible */
}

.footer-content p {
    margin: 5px 0; /* Espaciado entre párrafos */
}


.sensor {
    text-align: center;
    font-family: Arial, sans-serif; /* Fuente profesional */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro */
    width: 50%;
}

#contenedor-tabla {
    width: 100%;
    float: left;
    margin-right: 5%;
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
    border-radius: 8px; /* Bordes redondeados */
}

#tabla-maquinas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: #333; /* Color de texto */
}

#tabla-maquinas th, #tabla-maquinas td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px; /* Padding ajustado */
}

#tabla-maquinas th {
    background-color: #4CAF50; /* Fondo verde profesional */
    color: white; /* Texto blanco */
    font-weight: bold; /* Texto en negrita */
}

#tabla-maquinas td {
    background-color: #ffffff; /* Fondo blanco */
}

#tabla-maquinas tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

#tabla-maquinas button {
    background-color: #4CAF50; /* Fondo verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Tamaño de fuente ajustado */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
}

#tabla-maquinas button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Borde verde al pasar el ratón */
}

#tabla-maquinas button:active {
    background-color: #3e8e41; /* Fondo verde oscuro al hacer clic */
    color: white;
}


.recuadro-mantenimiento {
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    margin-left: 40%;
    background-color: #f8d7da;
    color: #721c24;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}

.contenedor-alertas-sensores {
    display: flex;
    justify-content: center; /* Centra el contenido principal horizontalmente */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno para el contenedor */
}

.contenedor-listado-alertas {
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interior */     
    width: 35%; /* Ancho fijo */
    margin: 0% left; /* Centrar el contenedor horizontalmente */
}

.boton-borrar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 100px;
}

.boton-borrar:hover {
    background-color: #d32f2f; /* Color más oscuro para hover */
}







.alerta {
    background-color: #ffebee;
    border: 1px solid #ffcdd2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Max width for larger screens */
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    padding: 8px 0;
}


.contenedor-alerta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-alerta {
    flex-grow: 1;
    margin-right: 10px; /* Espacio entre contenido y botón */
}


#boton-establecer-alerta {
    display: inline-block;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Fuente en negrita */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

#boton-establecer-alerta:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el cursor */
}

#boton-establecer-alerta:active {
    background-color: #004085; /* Color de fondo aún más oscuro al hacer clic */
}

#boton-establecer-alerta:focus {
    outline: none; /* Sin borde de enfoque */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Sombra alrededor del botón al enfocarlo */
}

#nombre-detalles {
    font-family: Arial, sans-serif; /* Elige una fuente fácil de leer */
    font-size: 24px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: bold; /* Haz que el texto se vea más destacado */
    color: #333; /* Elige un color de texto que contraste bien con el fondo */
    margin-bottom: 10px; /* Añade un pequeño espacio inferior para separarlo del contenido siguiente */
    text-transform: uppercase; /* Convierte el texto a mayúsculas para un aspecto más profesional */
}