body {
    font-family: Arial, sans-serif;    
    justify-content: center;   
    
}

.fav_header {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #ccc;
    padding: 10px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.fav_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#fav_logo {
    display: flex;
    align-items: center;
}

#fav_logo a {
    margin-right: 20px;
}

#fav_logo img {
    height: 50px; /* Tamaño uniforme para ambos logos */
}

.manejo_sesion {
    display: flex;
    align-items: center;
}

#usuario_header {
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}

#usuario_header a {
    text-decoration: none;
    color: #333;
}

#cerrar-sesion {
    margin-right: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Ajuste para el ancho completo */
    background-color: #f2f2f2; /* Fondo más suave */
    padding: 20px 0; /* Espaciado interior */
    text-align: center; /* Texto centrado */
    border-top: 1px solid #ddd; /* Borde superior sutil */
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    font-family: Arial, sans-serif; /* Fuente legible */
}

.footer-content p {
    margin: 5px 0; /* Espaciado entre párrafos */
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

/* Chart container styles */
.charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 140px; /* Deja espacio para el pie de página */
}

/* Individual chart styles */
canvas {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    max-width: 45%;
    flex: 1 1 45%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .charts-container {
        flex-direction: column;
    }

    canvas {
        max-width: 100%;
        flex: 1 1 100%;
    }
}



