
#fav_logo {
    margin-left: 2%;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}


#fav_logo a {
    margin-left: 2%;   
}


.sensor {
    text-align: center; 
}

.sensor_hallway {
    border: 1px solid black; /* Bordes negros */
    margin: 5% auto 0; /* Margen superior del 5% y centra la tabla horizontalmente */
    width: 90%; /* Ancho del 90% de su contenedor */
}

.sensor_hallway td {
    border: 1px solid black; /* Bordes negros en las celdas */
}

footer {
    margin-top: 250px; /* Margen superior de 20px */
    border: solid;
    padding: 10px; /* Relleno interno para el pie de página */
}

.fav_footerwrap {
    background-color: black;
}