#fav_logo {
    margin-left: 2%;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}

#fav_logo a {
    margin-left: 2%;   
}

.sensor {
    text-align: center; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 97%;
    margin-top: 250px;
    margin-bottom: 10px; 
    border: solid;
    padding: 10px; 
}

.fav_footerwrap {
    background-color: black;
}

#tabla-maquinas {
    width: 30%;
    border-collapse: collapse;
    margin: 20px auto;
}
#tabla-maquinas th, #tabla-maquinas td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#tabla-maquinas th {
    background-color: #f2f2f2;
}

#contenedor-tabla {
    width: 70%; /* Reducimos el ancho para dejar espacio al detalle */
    float: left; /* Mantenemos el flotado a la izquierda */
    margin-right: 5%; /* Añadimos un margen a la derecha para separar del detalle */
}

#detalles-maquina {
    width: 25%; /* Ajustamos el ancho del detalle */
    float: left; /* Flotamos el detalle a la izquierda */
    display: none; /* Lo mantenemos oculto inicialmente */
    text-align: center; /* Centramos horizontalmente el contenido */
}

.mostrar-detalles #contenedor-tabla {
    width: 45%; /* Cuando se muestren los detalles, reducimos el ancho de la tabla */
}

.mostrar-detalles #detalles-maquina {
    display: block; /* Mostramos los detalles */
}

#contenedor-detalles {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 125%;
}

#cerrar-detalles {
    display: block;
    margin-top: 10px;
}

#alerta {
    display: block;
    margin-top: 10px;
}