
#fav_logo {
    margin-left: 2%;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}


#fav_logo a {
    margin-left: 2%;   
}


.sensor {
    text-align: center; 
}


footer {
    margin-top: 250px; /* Margen superior de 20px */
    border: solid;
    padding: 10px; /* Relleno interno para el pie de página */
}

.fav_footerwrap {
    background-color: black;
}

#tabla-maquinas {
    width: 30%;
    border-collapse: collapse;
    margin: 20px auto;
}
#tabla-maquinas th, #tabla-maquinas td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
#tabla-maquinas th {
    background-color: #f2f2f2;
}

#contenedor-tabla {
    float: left;
    width: 70%; /* Ajusta según tu preferencia */
}

#detalles-maquina {
    float: right;
    width: 30%; /* Ajusta según tu preferencia */
    display: none;
}

#contenedor-detalles {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#cerrar-detalles {
    display: block;
    margin-top: 10px;
}